[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = '*'
tox = "*"
types-beautifulsoup4 = "*"

[dev-packages]
build = "*"
colorama = '*'
flake8 = '*'
pytest = '*'
pytest-cov = '*'
mypy = '*'
sphinx = '*'
setuptools = '*'
twine = '*'
wheel = '*'

[requires]
python_version = "3.9"
